html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.gored {
  color: #c22a26;
}
.key-figure_number {
  font-size: 22px;
}
.key-figure_name {
  text-transform: uppercase;
  color: rgba(0,0,0,.48);
  font-weight: 300;
  font-size: 18px;
}
.secondary-figure_number {
  font-size: 18px;
}
.secondary-figure_name {
  text-transform: uppercase;
  color: rgba(0,0,0,.48);
  font-weight: 400;
  font-size: 12px;
}
.small-text {
  color: rgba(0,0,0,.48);
  font-size: 10px;
  font-style: italic;
}

#map-lombok {
  height: 100%;
  width: 100%;
}
#map-lombok svg path {
  pointer-events: all;
}
.leaflet-container {
  background-color:rgba(255,255,255,0.4);
}
.district {
  stroke-linecap: round;
  fill: rgba(16,20,18,0.1);
  stroke: #000;
  stroke-width: 1px;
}
.district__default {
  
}